


.navbar {
    background-image: linear-gradient(to right, rgba(78,120,199,.5) , rgba(0,0,0,0));
    width: 100%;
}

.main-head {
    background-color: #4e78c780;
}

table {
    border: 1px solid #b0bec5;
}

.title{
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.infoCard {
    width: 100%;
}

.status {
    color: rgba(78,154,199,1);;
    font-size: 1.2em;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

.status p {
    color: black;
    font-size: .8em;

    background-color: rgba(78,154,199,1);
    width: 70%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.text-cell {
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 200px;
}

.output {
    color: black;
    font-size: 1.2em;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

.output p {
    color: white;
    font-size: .8em;

    background-color: black;
    width: 70%;
    margin: 20px;
    padding-bottom: 40px;
    padding: 20px;
    border-radius: 5px;

    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}



.summary {
    color: #34568B;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}