anytree==2.8.0
  six==1.16.0
elasticsearch==7.16.3
  certifi==2021.10.8
  urllib3==1.26.8
Flask-Classful==0.14.2
  Flask==2.0.2
    click==8.0.3
      importlib-metadata==4.10.1
        typing_extensions==4.0.1
        zipp==3.7.0
    itsdangerous==2.0.1
    Jinja2==3.0.3
      MarkupSafe==2.0.1
    Werkzeug==2.0.2
numpy==1.21.5
pipdeptree==2.2.1
  pip==21.2.4
setuptools==57.5.0
wheel==0.37.1