<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IRO Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('UserInterface:index') }}">
                <div class="sidebar-brand-icon rotate-n-15">
            
                    
                </div>
                <div class="sidebar-brand-text mx-3"> <img src="../static/img/FISHY_logo_v02_final_white.png" alt="FISHY" width="50" height="50"> FISHY <!--sup>2</sup--></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('UserInterface:index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>IRO Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Alerts</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item" href="{{ url_for('UserInterface:alerts') }}"> <i class="fas fa-fw fa-table"></i> Detailed Reports</a>
                        <!--a class="collapse-item" href="{{ url_for('UserInterface:alerts') }}">Alerts - Detailed Reports</a-->
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Configurations</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Configuration Name:</h6>
                        <a class="collapse-item" href="{{ url_for('UserInterface:intents') }}"> Intents</a>
                        <a class="collapse-item" href="{{ url_for('UserInterface:policies') }}"> Policies</a>
                        <a class="collapse-item" href="{{ url_for('UserInterface:notifications') }}"> Notifications</a>
                        <!--a class="collapse-item" href="utilities-color.html">Colors</a-->
                    </div>
                </div>
            </li>



            <!-- Nav Item - Pages Collapse Menu --> 
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Enforcement Components:</h6>
                        <!--a class="collapse-item" href="#">EDC</a-->
                        <a class="collapse-item" href="{{ url_for('UserInterface:remediation') }}">EDC Remediation</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <!--hr class="sidebar-divider"-->


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                  
                

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{ show_notification_data|selectattr('Status', 'equalto', 'Open')|list|length }}</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>

                                                
                                {% set count_alert = [] %}        
                            {% for dict_item in show_notification_data |reverse %}
                            

                            
                            {% if dict_item['Status']=='Deleted' or dict_item['Status'] == "Created" %}
                            
                            {% elif dict_item['Status']=='Open' and count_alert|length < 10 %}

                            {% set var = count_alert.append(1) %}
                            
                            
                            <a class="dropdown-item d-flex align-items-center notification-click" data-id="{{dict_item['ID']}}" href="{{ url_for('UserInterface:notifications', n_id=dict_item['ID'] ) }}" >
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">{{dict_item['Time']}} </div>
                                    <span class="font-weight-bold">{{dict_item['Name']}}</span>
                                </div>
                            </a>

                            {% elif dict_item['Status']=='Seen' and count_alert|length < 10 %}


                            {% set var = count_alert.append(1) %}
                            
                            <a class="dropdown-item d-flex align-items-center notification-click" data-id="{{dict_item['ID']}}" href="{{ url_for('UserInterface:notifications', n_id=dict_item['ID'] ) }}"  >
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">{{dict_item['Time']}}</div>
                                        {{dict_item['Name']}} 
                                </div>
                            </a>
                            
                            {% endif %}
                            
                            {% endfor %}

                           
                            
                            <a class="dropdown-item text-center small text-gray-500" href="{{ url_for('UserInterface:notifications') }}">Show All Alerts</a>

                               
                                


                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user_info.preferred_username}}</span>
                                <img class="img-profile rounded-circle"
                                    src="../static/img/user.png">
                            </a>
                           <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            {{user_info.email}}
                        </a>
                        <!--a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a-->
                    </div>
                        </li>
                        

                    </ul>

                </nav>
                <!-- End of Topbar -->
















            
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1  class="h3 mb-0 text-gray-800">Dashboard</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                    
        
                    
                    <!--div class="row"-->

                        <div style="margin:auto; display: inline-block;" class="col-xl-5 col-lg-7" >
                            <div class="card shadow mb-4">
                                
                                <!-- Instructions Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                              
                        <!-- Search -->                
                    

                        <form action="/inputintents" method="POST" name="intentText" >
                        <div class="input-group" style="left: 50px;">
                            
                            <input   type="intent" class="form-control" name="intentText"  id="readIntentText" class="form-control" data-id="readIntentText" placeholder="Write your Intents Text here..">
                            <div class="space" style="width: 4px; height: auto; display: inline-block;"></div>
                            <button name='intentText' type=submit class="btn btn-primary btn_error" type="button">
                                <i class="fas fa-search fa-sm" style="height:auto; width:auto"></i>
                            </button>                             
                            
                           
                        </div>
                        
                    </form>
                        
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area"  >
                                        {% if message %}  <pre > {{ message }}     </pre> 
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- ############################################################################-->
                         <!-- Result of Intent Configuration -->

                         <div class="col-lg-6">

                            <div class="card position-relative">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="text-align:left; line-height: 32.5px;"> <span style="vertical-align: middle;">Result  </span>
                                </div>
                                <div class="card-body">

                                    
                                    <div class='intent-form d-none' id='create_intent_form'>
                                        <!--form name = "form_inputintent" method="POST" action ="/"></form-->
                                    </div>
                                    <div id="success_showintent"  style="display:none;"></div>
                                        



                               <!-- Create the particular intent selected by user -->

                               
                                <!-- Successful -->
                                <div id="success_createintent" class="alert alert-success" role="alert" style="display:none;"> 
                                   
                                </div>
                                <!-- Error raised -->
                                <div id="error_inputintent" class="alert alert-danger" role="alert" style="display:none;">
                                
                                </div>

                                   <!-- Show the particular intent selected by user -->
                                    <!-- Successful -->
                                <!--div id="success_showintent"  style="display:none;"> 

                                   
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tableShow" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Attributes</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                       
                                    </tfoot>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                    

                                </div-->

                                 <!-- Error raised -->
                                <div id="error_showintent" class="alert alert-success" role="alert" style="display:none;"></div>

                                
                                <!-- Delete the particular intent selected by user -->

                               
                                <!-- Successful -->
                                <div id="success_deleteintent" class="alert alert-success" role="alert" style="display:none;"> 

                                   
                                </div>
                                <!-- Error raised -->
                                <div id="error_deleteintent" class="alert alert-danger" role="alert" style="display:none;">
                                
                                </div>
                                 

                                
                                
                                </div>

                               
                            </div>
                            
                        </div>
                        <!-- ############################################################################-->



                    </div>




                    <!-- Content Row -->
                    <!--div class="row"-->
                          

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IRO 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>


   

<!--script>
    function pressed(e) {
        // Has the enter key been pressed?
        if ( (window.event ? event.keyCode : e.which) == 13) {
            // If it has been so, manually submit the <form>
            document.forms[0].submit();
        }
    }
    </script-->

    
 <script>
    $(document).ready(function() {

        $(document).on('click', '.btn_error', function(event){

            event.preventDefault();
            var readIntentText = $("#readIntentText").val();
            var my_form, my_form_script, HTMLtemplate, JStemplate;
            

            
            function create_intent_form_fun(myform) {

            if (myform[0]['policyname'] === "wallet_id_detection" ){
            
            // Create a form dynamically
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/");
            
            // create text element
            var condition_text = document.createElement("H5");
            
            var h5_text = document.createTextNode("Conditions");
            condition_text.appendChild(h5_text);
            form.appendChild(condition_text);
            
            
            // create select list of subject subject
            var selectSubjectList = document.createElement("select");
            selectSubjectList.name = "subject";
            form.appendChild(selectSubjectList);
            //Create and append the options
            for (var i = 0; i < myform[0]['subject'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['subject'][i];
                option.text = myform[0]['subject'][i];
                selectSubjectList.appendChild(option);
            }

            form.append(" appears more than ")
            var occur = document.createElement("input");
			occur.setAttribute("type", "number");
			occur.setAttribute("name", "value");
			occur.setAttribute("placeholder", "Occurence");
            occur.setAttribute("min", 1);
            form.append(occur);

            form.append("times in ");

            var peri = document.createElement("input");
			peri.setAttribute("type", "number");
			peri.setAttribute("name", "period");
			peri.setAttribute("placeholder", "Period");
            peri.setAttribute("min", 1);
            form.append(peri);

            // create select list of time 
            var selectSubjectList = document.createElement("select");
            selectSubjectList.name = "time";
            form.appendChild(selectSubjectList);
            //Create and append the options
            for (var i = 0; i < myform[0]['time'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['time'][i];
                option.text = myform[0]['time'][i];
                selectSubjectList.appendChild(option);
            }
            var br = document.createElement("br");

            form.appendChild(br);
            var br = document.createElement("br");

            form.appendChild(br);
            //form.appendChild(br);

            // create text element
            var action_text = document.createElement("H5");
            var h5_action_text = document.createTextNode(" Actions:");
            action_text.appendChild(h5_action_text);
            form.appendChild(action_text);

            var new_div = document.createElement("div");
            new_div.id = "actions";

            form.appendChild(new_div);

            // create select list of actions 
            var selectActionList = document.createElement("select");
            selectActionList.name = "action_0";
            selectActionList.id = "action_0";
            selectActionList.className = "Input";
            form.appendChild(selectActionList);
            //Create and append the options
            for (var i = 0; i < myform[0]['action'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['action'][i];
                option.text = myform[0]['action'][i];
                selectActionList.appendChild(option);
            }

            // create select list of objects 
            var selectObjectList = document.createElement("select");
            selectObjectList.name = "object_0";
            selectObjectList.id = "object_0";
            selectObjectList.class = "Input";
            form.appendChild(selectObjectList);
            //Create and append the options
            for (var i = 0; i < myform[0]['object_notif'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['object_notif'][i];
                option.text = myform[0]['object_notif'][i];
                selectObjectList.appendChild(option);
            }

            // Create add action button
			var add_action_button = document.createElement("button");
			add_action_button.id = "add_action";
			add_action_button.innerHTML = "Add action";
            add_action_button.type = "button";
            form.append(add_action_button);

            var br = document.createElement("br");
            form.appendChild(br);
            

            // Create a submit button
            var s = document.createElement("input");
            s.setAttribute("type", "submit");
            s.setAttribute("value", "Submit");
            s.setAttribute("name","threat_d_form");
        }
            else if (myform[0]['policyname'] === "pmem_config" ){
               // Create a form dynamically
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/");
            
            // create text element
            var condition_text = document.createElement("H5");
            
            var h5_text = document.createTextNode("Conditions");
            condition_text.appendChild(h5_text);
            form.appendChild(condition_text);

            form.append("If Label is   ")
            
            
            // create select list of attack
            var selectAttackList = document.createElement("select");
            selectAttackList.name = "attack";
            form.appendChild(selectAttackList);
            //Create and append the options
            for (var i = 0; i < myform[0]['attack'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['attack'][i];
                option.text = myform[0]['attack'][i];
                selectAttackList.appendChild(option);
            }

            form.append("  and  ");
            // create select list of attack
            var selectIPList = document.createElement("select");
            selectIPList.name = "IP";
            form.appendChild(selectIPList);
            //Create and append the options
            for (var i = 0; i < myform[0]['ip'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['ip'][i];
                option.text = myform[0]['ip'][i];
                selectIPList.appendChild(option);
            }

            form.append("  and  ");
            // create select list of attack
            var selectPORTList = document.createElement("select");
            selectPORTList.name = "PORT";
            form.appendChild(selectPORTList);
            //Create and append the options
            for (var i = 0; i < myform[0]['port'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['port'][i];
                option.text = myform[0]['port'][i];
                selectPORTList.appendChild(option);
            }

            

            form.append("  has a  ");


            // create select list of time 
            var selectSubjectList = document.createElement("select");
            selectSubjectList.name = "severity";
            form.appendChild(selectSubjectList);
            //Create and append the options
            for (var i = 0; i < myform[0]['severity'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['severity'][i];
                option.text = myform[0]['severity'][i];
                selectSubjectList.appendChild(option);
            }

            form.append("  severity  ");
            var br = document.createElement("br");

            form.appendChild(br);
            var br = document.createElement("br");

            form.appendChild(br);
            //form.appendChild(br);

            // create text element
            var action_text = document.createElement("H5");
            var h5_action_text = document.createTextNode(" Actions:");
            action_text.appendChild(h5_action_text);
            form.appendChild(action_text);

            var new_div = document.createElement("div");
            new_div.id = "actions";

            form.appendChild(new_div);

            // create select list of actions 
            var selectActionList = document.createElement("select");
            selectActionList.name = "action_x";
            selectActionList.id = "action_x";
            selectActionList.className = "Input";
            form.appendChild(selectActionList);
            //Create and append the options
            for (var i = 0; i < myform[0]['action'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['action'][i];
                option.text = myform[0]['action'][i];
                selectActionList.appendChild(option);
            }

            // create select list of objects 
            var selectObjectList = document.createElement("select");
            selectObjectList.name = "object_x";
            selectObjectList.id = "object_x";
            selectObjectList.class = "Input";
            form.appendChild(selectObjectList);
            //Create and append the options
            for (var i = 0; i < myform[0]['notif'].length; i++) {
                var option = document.createElement("option");
                option.value = myform[0]['notif'][i];
                option.text = myform[0]['notif'][i];
                selectObjectList.appendChild(option);
            }

            // Create add action button
			//var add_action_button = document.createElement("button");
			//add_action_button.id = "add_action";
			//add_action_button.innerHTML = "Add action";
            //add_action_button.type = "button";
            //form.append(add_action_button);

            var br = document.createElement("br");
            form.appendChild(br);
            

            // Create a submit button
            var s = document.createElement("input");
            s.setAttribute("type", "submit");
            s.setAttribute("value", "Submit");
            s.setAttribute("name","pmem_config_form");

            };
            
            // Append the button to the form
            form.append(s);
            return form;
        //};
        //        else if (myform[0]['policyname'] === "pmem_config"){

        //        };
        }
        function update_intent_form_fun(my_form_script) {
            var count_action = 0;
            var count_object = 0;
            var action_name_1;
            var object_name_1;
            var array_notif = my_form_script[0]['object_notif'];
            var array_access = my_form_script[0]['object_access'];


            var action_name = "#action_0";
            var object_name = "#object_0";

        $(action_name).change(function() { //"#action_00"
    
            var el = $(this) ;
           
            if(el.val() === "notify" ) {
                for (var i = 0; i < array_access.length; i++) {
                    $(object_name+" option:last-child").remove() ;
                };
                for (var i = 0; i < array_notif.length; i++) {
                    $(object_name).append("   <option>"+array_notif[i]+"</option>");
                };

                }
            else if(el.val() === "no_authorise_access" ) {
                for (var i = 0; i < array_notif.length; i++) {
                    $(object_name+" option:last-child").remove() ;
                };
                for (var i = 0; i < array_access.length; i++) {
                    $(object_name).append("   <option>"+array_access[i]+"</option>");
                }
                }
        });
        var action_x = "#action_x";
        var object_x = "#object_x";

        $(action_x).change(function() { //"#action_00"
    
            var el = $(this) ;
           
            if(el.val() === "notify" ) {
                for (var i = 0; i < my_form_script[0]['ban'].length; i++) {
                    $(object_x+" option:last-child").remove() ;
                };
                for (var i = 0; i <  my_form_script[0]['notif'].length; i++) {
                    $(object_x).append("   <option>"+ my_form_script[0]['notif'][i]+"</option>");
                };

                }
            else if(el.val() === "no_authorise_access" ) {
                for (var i = 0; i <  my_form_script[0]['notif'].length; i++) {
                    $(object_x+" option:last-child").remove() ;
                };
                for (var i = 0; i < my_form_script[0]['ban'].length; i++) {
                    $(object_x).append("   <option>"+my_form_script[0]['ban'][i]+"</option>");
                }
                }
        });

            $("#add_action").on("click", function(){
            count_action += 1;
            //$("<input/>").attr({ type: "text", placeholder: "Enter n  product name",
            //    name: "action_1_"+count_action}).appendTo("#actions");
            //$("<select/>").attr({id:"action_"+count_action, name:"action", class:"Input" }).appendTo("#actions");
            
           
            var myDiv = document.getElementById("actions");

            //Create array of options to be added
            var array = my_form_script[0]['action']; // get options

            //Create and append select list for actions
            var selectList = document.createElement("select");
            selectList.name = "action_"+count_action;
            selectList.id = "action_"+count_action;
            selectList.className = "Input";
            //selectList.setAttribute("action", "Select");
            myDiv.appendChild(selectList);

            action_name_1 = "#action_"+count_action;

            //Create and append the options
            for (var i = 0; i < array.length; i++) {
                var option = document.createElement("option");
                option.setAttribute("value", array[i]);
                option.text = array[i];
                selectList.appendChild(option);
                }

            //selectList.appendTo("#actions");

            count_object += 1;
            object_name_1 = "#object_"+count_object;
            var array2 = my_form_script[0]['object_notif'];
                //Create and append select list for objects
            var selectList2 = document.createElement("select");
            selectList2.name = "object_"+count_object;
            selectList2.id = "object_"+count_object;
            selectList2.class = "Input"
            //selectList2.setAttribute("object_"+count_object, "Select"+count_object);
            myDiv.appendChild(selectList2);
            

            //Create and append the options
            for (var i = 0; i < array2.length; i++) {
                var option2 = document.createElement("option");
                option2.setAttribute("value", array2[i]);
                option2.text = array2[i];
                selectList2.appendChild(option2);
                }
            //selectList2.appendTo("#actions").wrap($("<div/>"));

           
            $("<br/>").appendTo("#actions");

            var current_action = document.getElementById(selectList.id)
            var current_object = document.getElementById(selectList2.id)
            

            current_action.onchange = function() { //"#action_1"

            var ell = $(this) ;

            if(ell.val() === "notify" ) {
               for (var i = 0; i < array_access.length; i++) {
                current_object.removeChild(current_object.lastChild);
               //$(selectList2.id+" option:last-child").remove() ;
               };
                for (var i = 0; i < array_notif.length; i++) {
                    var opt = document.createElement('option');
                    opt.setAttribute("value", array_notif[i]);
                    opt.text = array_notif[i];
                    //opt.value = array_notif[i];
                    current_object.appendChild(opt);
                   //current_object.append("   <option>"+array_notif[i]+"</option>");
            };

            }
            else if(ell.val() === "no_authorise_access" ) {
            for (var i = 0; i < array_notif.length; i++) {
                current_object.removeChild(current_object.lastChild);
                //$(selectList2.id+"  option:last-child").remove() ;
            };
            for (var i = 0; i < array_access.length; i++) {
                //var opt2 = document.createElement('option');
                //opt2.value = array_access[i];
                //current_object.appendChild(opt2);

                var opt2 = document.createElement('option');
                opt2.setAttribute("value", array_access[i]);
                opt2.text = array_access[i];
                //opt.value = array_notif[i];
                current_object.appendChild(opt2);
                //current_object.append("   <option>"+array_access[i]+"</option>");
            }
            }
            };


              
            //$("<input/>").attr({ type: "text", placeholder: "Enter product name",
            //    name: "action_"+count_action}).appendTo("#actions").wrap($("<div/>"));
                
        });


        



            
    
        }
            

            $.ajax({
                data: { readIntentText: readIntentText },
                type: 'POST',
                url : '/inputintents'

                })
            .done(function(data) {

                if (data.error) {
                    $('#error_inputintent').text(data.error).show();
                    $('#success_showintent').hide();

                }
                else {
                    if (data.readIntentText === "reports" ) {
                        window.location.assign("/alerts");
                    }
                    else if (data.my_form){
                    $('#error_inputintent').empty();
                    $('#error_inputintent').hide();
                    $('#success_showintent').empty();
                    $('#success_createintent').hide();
                    //$('#create_intent_form').empty()
                    $('#success_showintent').show();
                    
                    //$('#success_createintent').append("test"+create_intent_form_fun(data.my_form))
                    document.getElementById("success_showintent").appendChild(create_intent_form_fun(data.my_form));
                    update_intent_form_fun(data.my_form_script);

                    }
                    else {

                    $('#success_deleteintent').hide();
                    $('#success_createintent').hide();
                    $('#error_inputintent').empty();
                    $('#error_inputintent').show();
                    $('#error_inputintent').append(  "NO correct intent is successfully sent:" + "<br></br>"+
                                                        "msg: " +data.readIntentText+ "<br></br>");
                    
                    
                    $('#success_createintent').hide();
                    }
                    
                }
            });   
        });
    }); 
    </script>


</body>

</html>